<h1>Create a new blog</h1>
<p><a href="/">Show all Blogs</a></p>
<form action="/blogs" method="POST">
    <input type="text" placeholder="Blog title" name="blog[title]" >
    <input type="text" name="blog[image]" placeholder="Enter url">
    <label>Your blog content goes here:
    <textarea name="blog[body]" rows="20" cols="30" name="content"></textarea>
    </label>
    <input type=submit>
</form>